.headerComponent {
    // padding-top: 3rem;
    // height: 120vh;
    // background-image: linear-gradient(0deg, $secondaryColor 0%, $accentColor 30%, $secondaryColor 100%);
    margin-bottom: 2rem;
    font-family: $serif;
    text-align: center;
    
    .earthContainer {
        position: absolute;
        top: 0;
        left: 10%;
        width: 80%;
        // width: 50rem;
        // max-width: 90%;
    }
    .earth {
        position: relative;
        z-index: -1;
        top: -30rem;
        left: 0;
        // top: 0;
        // left: 5%;
        // z-index: 98;
        width: 40rem;
        animation-name: rotate, fadeIn;
        animation-duration: 60s, 2s;
        animation-iteration-count: infinite, 1;
        opacity: 0.9;
    }
    
    h1 {
        // position: relative;
        // z-index: 99;
        margin: 0;
        padding-top: 3rem;
        padding-bottom: 5rem;
        color: white;
        font-family: $headerFont;
        font-weight: 900;
        text-shadow: 2px 2px 5px black;
        font-size: 4rem;
        text-transform: uppercase;
        line-height: 3rem;
        animation-name: fadeIn;
        animation-duration: 2s;
    }
    h2 {
        
        font-size: 1.15rem;
        font-weight: 400;
        animation-name: fadeIn, appearFromTop;
        animation-duration: 2s, 2s;
    }
}