// create global variables
$primaryFont: "Playfair Display", serif;
$secondaryFont: "Playfair Display SC", serif;
$fontColor: #333;
// $bgColor: #696969;
$bgColor: snow;
$posColor: green;
$negColor: red;
// $accentColor: darkturquoise;
$boxShadow: 0 -3px 5px 0.1px $fontColor;