// create global variables
$headerFont: "Playfair Display SC", serif;
$serif: "Playfair Display", serif;
$sansSerif: "Roboto", sans-serif;
$fontColor: #333;
// $bgColor: #696969;
$bgColor: snow;
$posColor: green;
$negColor: red;
$neutColor: blue;
$boxShadow: 0 1px 1.5px 0.5px #aaa;
// $accentColor: darkturquoise;